<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<section class="container">
  <header class="header mb-3 mt-3">
    <ul class="nav">
      <li class="col-4"> <h2 class="text-center">Lista de Cadastros</h2></li>
      <li> <button class="btn btn-success" routerLink="/cadastro">Realizar Cadastro</button></li>
    </ul>
  </header>
    <div class="mural" *ngIf="listaCadastros.length > 0, else listaVazia">
      <ul class="list-group list-group-horizontal w-75">
        <li class="list-group-item col-4"><p><b>NOME</b></p></li>
        <li class="list-group-item col-4"><p><b>EMAIL</b></p></li>
        <li class="list-group-item col-4"><p><b>TELEFONE</b></p></li>
        <li class="list-group-item col-4"></li>
      </ul>
      <div *ngFor="let cadastro of listaCadastros">
        <app-cadastro [cadastro]="cadastro"></app-cadastro>
      </div>
    </div>
</section>
<ng-template #listaVazia>
  <div>
    <h3>Não há pessoas Cadastradas</h3>
  </div>
</ng-template>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
