<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<section class="container">
  <header class="header">
    <h2 class="text-center mt-3">Cadastro</h2>
  </header>

  <div class="container mt-3 col-lg-8 col-md-6 w-50 border rounded bg-light">
    <form class="card-body mt-3">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <label for="nome">Nome completo</label>
          <input type="textarea" class="input form-control" id="nome" name="nome" placeholder="Digite seu Nome..." [(ngModel)]="cadastro.nome">
        </div>
        <div class="col-lg-6 col-md-12">
          <label for="email">E-mail</label>
          <input type="email" class="input form-control" id="email" name="email" placeholder="nome@hotmail.com" [(ngModel)]="cadastro.email">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <label for="Telefone">Telefone</label>
          <input type="textarea" class="input form-control" id="tel" name="tel" placeholder="(xx) xxxxx-xxxx" [(ngModel)]="cadastro.tel">
        </div>
      </div>
      <div class="botoes mt-3">
        <button (click)="cadastrar()" class="botao btn btn-primary ">Salvar</button>
        <button (click)="cancelar()" class="botao btn btn-outline-danger ms-2">Cancelar</button>
      </div>
    </form>
  </div>

</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
